@font-face {
  font-family: MobiriseIcons;
  src: url(mobirise-icons.eot?spat4u);
  src: url(mobirise-icons.eot?spat4u#iefix) format("embedded-opentype"),
    url(mobirise-icons.ttf?spat4u) format("truetype"),
    url(mobirise-icons.woff?spat4u) format("woff"),
    url(mobirise-icons.svg?spat4u#MobiriseIcons) format("svg");
  font-weight: 400;
  font-style: normal;
}
[class*=" mbri-"],
[class^="mbri-"] {
  font-family: MobiriseIcons !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mbri-align-center:before {
  content: "\e902";
}
.mbri-align-left:before {
  content: "\e904";
}
.mbri-align-right:before {
  content: "\e905";
}
.mbri-arrow-down:before {
  content: "\e908";
}
.mbri-arrow-next:before {
  content: "\e909";
}
.mbri-bold:before {
  content: "\e90c";
}
.mbri-bootstrap:before {
  content: "\e90e";
}
.mbri-calendar:before {
  content: "\e912";
}
.mbri-code:before {
  content: "\e91c";
}
.mbri-down:before {
  content: "\e925";
}
.mbri-download:before {
  content: "\e989";
}
.mbri-features:before {
  content: "\e92d";
}
.mbri-github:before {
  content: "\e932";
}
.mbri-globe:before {
  content: "\e933";
}
.mbri-globe-2:before {
  content: "\e934";
}
.mbri-growing-chart:before {
  content: "\e935";
}
.mbri-info:before {
  content: "\e93d";
}
.mbri-left-right:before {
  content: "\e942";
}
.mbri-left:before {
  content: "\e943";
}
.mbri-like:before {
  content: "\e945";
}
.mbri-link:before {
  content: "\e946";
}
.mbri-menu:before {
  content: "\e94c";
}
.mbri-mobirise:before {
  content: "\e94f";
}
.mbri-right:before {
  content: "\e966";
}
.mbri-sale:before {
  content: "\e969";
}
.mbri-setting:before {
  content: "\e96c";
}
.mbri-setting2:before {
  content: "\e96d";
}
.mbri-setting3:before {
  content: "\e96e";
}
.mbri-target:before {
  content: "\e97c";
}
.mbri-touch-swipe:before {
  content: "\e980";
}
.mbri-touch:before {
  content: "\e981";
}
.mbri-user:before {
  content: "\e98a";
}
.mbri-user2:before {
  content: "\e98b";
}
.mbri-website-theme:before {
  content: "\e990";
}
